# Database
DB_URL=jdbc:postgresql://your-db-host:5432/your-db
DB_USER=your-db-user
DB_PASSWORD=your-db-password

# Redis
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port
REDIS_PASSWORD=your-redis-password

# For running the docker file
# docker build -t auth-system .
# docker run -p 8080:8080 --env-file .env auth-system